---
import { Button } from "../components/primitives/button";
import { ThemeSelect } from "../components/theme";
import Page from "../layouts/Page.astro";

import ArrowBackIcon from "~icons/material-symbols-rounded/arrow-back:outlined";

const pathname = Astro.url.pathname;
---

<Page>
  <header>
    <ThemeSelect
      client:only="solid-js"
      type="medium" />
  </header>
  <main>
    <div class="content">
      <h1 class="code">404</h1>
      <p class="error">Not found</p>
      <p class="path">
        <span>Path:&nbsp</span>
        <span class="">{pathname}</span>
      </p>

      <div class="action">
        <Button
          variant="filled"
          href="/">
          <ArrowBackIcon slot="leading" width={18} height={18} />
          Go back
        </Button>
      </div>
    </div>
  </main>
</Page>

<style>
  header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 64px;

    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  main {
    width: 100%;
    height: 100dvh;

    display: grid;
    place-items: center;
    place-content: center;
  }

  .content {
    max-width: 840px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .code {
    font-family: var(--text-display-large-family);
    font-size: var(--text-display-large-size);
    font-weight: 700;
    /* font-weight: var(--text-display-large-weight); */
    line-height: var(--text-display-large-line-height);
    letter-spacing: var(--text-display-large-letter-spacing);
  }
  .error {
    font-family: var(--text-title-large-family);
    font-size: var(--text-title-large-size);
    font-weight: var(--text-title-large-weight);
    line-height: var(--text-title-large-line-height);
    letter-spacing: var(--text-title-large-letter-spacing);
  }

  .path {
    height: 32px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--color-secondary-container);

    font-family: var(--text-label-large-family);
    font-size: var(--text-label-large-size);
    font-weight: var(--text-label-large-weight);
    line-height: var(--text-label-large-line-height);
    letter-spacing: var(--text-label-large-letter-spacing);

    color: var(--color-on-secondary-container);

    border-radius: 8px;

    padding: 0px 16px;

    & :last-child {
      color: var(--color-primary);
      font-weight: 700;
    }
  }

  .action {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;

    padding: 8px 24px;

    font-family: var(--text-body-large-family);
    font-size: var(--text-body-large-size);
    font-weight: var(--text-body-large-weight);
    line-height: var(--text-body-large-line-height);
    letter-spacing: var(--text-body-large-letter-spacing);
  }
</style>
