---
import Page from "../layouts/Page.astro";
import { Header } from "../components/header";
import { Hero } from "../components/hero";
import { Footer } from "../components/footer";
---

<Page>
  <Header />
  <main>
    <h1>About</h1>
  </main>
  <Footer></Footer>
</Page>

<style>
  main {
    min-height: 100dvh;
  }
</style>
