---
import Page from "../layouts/Page.astro";
import { Header } from "../components/header";
import { Hero } from "../components/hero";
import { Footer } from "../components/footer";
---

<Page>
  <Header />
  <main>
    <Hero />
  </main>
  <Footer></Footer>
</Page>

<style>
  main {
    height: 1000px;
  }
</style>
