---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Page from "../layouts/Page.astro";
import { Header } from "../components/header";
---

<Page>
  <Header />
  <main>
    Test
  </main>
</Page>

<style>
  main {
    height: 1000px;
  }
</style>
