---
import { Footer } from "../../components/footer";
import { Header } from "../../components/header";
import Page from "../../layouts/Page.astro";
import { getShowcaseCollection } from "../../schemas/showcase";

const entries = await getShowcaseCollection();
---

<Page>
  <Header />
  <main>
    <h1>WIP</h1>
  </main>
  <Footer />
</Page>
