---
import type { GetStaticPaths } from "astro";
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content"
import Markdown from "../../components/markdown/Markdown.astro";
import Page from "../../layouts/Page.astro";
import { Header } from "../../components/header";
import { Footer } from "../../components/footer";
import { IconButton } from "../../components/icon-button";

import ArrowBackIcon from "~icons/material-symbols-rounded/arrow-back:outlined&opticalSize=40";


export const getStaticPaths: GetStaticPaths = async () => {
  const posts = await getCollection("blog");
  return posts.map(post => ({
    params: {
      slug: post.slug,
    },
    props: post,
  }));
}

type Props = CollectionEntry<"blog">;

const post = Astro.props;

const { Content } = await post.render();
---
<Page>
  <Header />
  <main>
    <div class="content">
      <IconButton class="back" href="/blog">
        <ArrowBackIcon width={40} height={40} />
      </IconButton>
      <h1 class="title">{post.data.title}</h1>
      {post.data.description && <p class="description">{post.data.description}</p>}
      <Markdown>
        <Content />
      </Markdown>
    </div>
  </main>
  <Footer />
</Page>

<style>
  main {
    max-width: 960px;
    margin: 0 auto;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 24px 24px 96px 24px;
  }

  .back {
    align-self: flex-start;
  }

  .title {
    font-family: var(--text-display-medium-family);
    font-size: var(--text-display-medium-size);
    /* font-weight: var(--text-display-medium-weight); */
    font-weight: 500;
    line-height: var(--text-display-medium-line-height);
    letter-spacing: var(--text-display-medium-letter-spacing);
  }
  .description {
    font-family: var(--text-body-large-family);
    font-size: var(--text-body-large-size);
    font-weight: var(--text-body-large-weight);
    line-height: var(--text-body-large-line-height);
    letter-spacing: var(--text-body-large-letter-spacing);
  }
</style>
